[Unit]
Description=HDMI hotplug backlight control

[Service]
ExecStart=/usr/bin/dualdisplay_bl_ctl.sh
Restart=always

[Install]
WantedBy=multi-user.target