[Unit]
Description=Start CODESYS after network is online
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/
ExecStart=/usr/local/codesyscontrol -d CODESYSControl.cfgmy
Restart=on-failure
RestartSec=5
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
