CONFIG_USB_SERIAL_CH343=m
# CONFIG_SND_SOC_MAX98088 is not set
# CONFIG_LOGO is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_BRCMFMAC is not set
# CONFIG_BT is not set
# CONFIG_CFG80211 is not set
# CONFIG_RFKILL is not set
# CONFIG_PPP is not set
# CONFIG_NO_HZ_IDLE is not set
CONFIG_NO_HZ_FULL=y
# CONFIG_CPU_IDLE is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
