CONFIG_TOUCHSCREEN_ADS7846=m
# CONFIG_SND_SOC_MAX98088 is not set
CONFIG_SND_SOC_MAX98357A=y
# CONFIG_LOGO is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_PPP is not set
# CONFIG_NO_HZ_IDLE is not set
CONFIG_NO_HZ_FULL=y